<h1>Welcome to my Homepage!</h1>
<h6>My name is: Charles Lang</h6>
<br>
<p>I am trying to learn ruby to further my programming language skills. I am currently a full STACK LAMP Developer.</p>
<br>
<h6>Link</h6>
<ul>
  <li><%= link_to 'About', about_path %></li>
</ul>